<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Part View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/bootstrap.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Edit Part for {{ part.name }}</h1>
            </div>
        </div>
    </div>

</body>
</html>