<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/bootstrap.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">Edit Product for {{ product.name }}</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <form action="{% url '' company.id product.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="product_id" class="col-2 col-form-label">Product Id</label>
                        <div class="col-10">
                            <input id="product_id" type="text" class="form-control" placeholder="{{ product.id }}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="product_name" class="col-2 col-form-label">Product Name</label>
                        <div class="col-10">
                            <input id="product_name" type="text" class="form-control" placeholder="{{ product.name }}" value="{{ product.name }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="product_stock" class="col-2 col-form-label">Current Stock</label>
                        <div class="col-10">
                            <input id="product_stock" type="number" class="form-control" placeholder="{{ product.on_hand }}" value="{{ product.on_hand }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="product_price" class="col-2 col-form-label">Product Price</label>
                        <div class="col-10">
                            <input id="product_price" type="number" class="form-control" placeholder="{{ product.price }}" value="{{ product.price }}" min="0" step="0.1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="product_min" class="col-2 col-form-label">Min</label>
                        <div class="col-4">
                            <input id="product_min" type="number" class="form-control" placeholder="{{ product.min }}" value="{{ product.min }}" min="0">
                        </div>
                        <label for="product_max" class="col-2 col-form-label">Max</label>
                        <div class="col-4">
                            <input id="product_max" type="number" class="form-control" placeholder="{{ product.max }}" value="{{ product.max }}">
                        </div>
                    </div>

                    <div class="form-group row">

                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

</body>
</html>