<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory View for {{ company.name }}</title>
</head>
<body>

    <h1>Inventory View for {{ company.name }}</h1>

    <table>
        <tr>
            <th>Part Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Current Inventory</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        {% for part in parts_list %}
        <tr>
            <td>{{ part.id }}</td>
            <td>{{ part.name }}</td>
            <td>{{ part.price }}</td>
            <td>{{ part.on_hand }}</td>
            <td>{{ part.min }}</td>
            <td>{{ part.max }}</td>
        </tr>
        {%  endfor %}
    </table>
</body>
</html>